<!doctype html>
<html lang="en">
<head>
{% include "partials/head.njk" %}
</head>
<body>
{% include "partials/nav.njk" %}
{% block content %}{% endblock %}
{% include "partials/footer.njk" %}
{% include "partials/lightbox.njk" %}
<script src="/assets/js/callout-fold.js"></script>
<script src="/assets/js/mermaid-render.js"></script>
<script src="/assets/js/lightbox.js"></script>
</body>
</html>